[Unit]
Description=AstronBot
After=syslog.target
After=network.target

[Service]
Restart=always
RestartSec=2s
MemoryLimit=1G
User=root
Group=root
WorkingDirectory=/root/astronbot
ExecStart=/root/astronbot/venv/bin/python3 /root/astronbot/main.py

[Install]
WantedBy=multi-user.target
